@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:700");
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: #222222;
}

.row {
  max-width: 75rem;
}

.main {
  padding: 0;
  margin: 0;
}

.slate-grey {
  background-color: #222222;
}

.charcoal-grey {
  background-color: #111111;
}

#taxi {
  color: #777777;
}

#park {
  color: #ff9900;
}

.bordered-pic {
  border: 6px solid #777777;
}

.content-section-one {
  margin-top: 120px;
}

.no-margin {
  margin: 0;
}

.button {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: flex;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 3.75rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  color: #f2f2f2;
}

h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  word-spacing: .25rem;
  text-transform: uppercase;
  color: #f2f2f2;
}

p, a {
  font-family: 'Nunito', sans-serif;
  color: #f2f2f2;
}

a:hover {
  color: #f2f2f2;
}

.bold {
  font-weight: bold;
}

.green {
  display: flex;
}

.pic {
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.ride {
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.dashed {
  border-color: #f2f2f2;
  border-top-style: dashed;
  border-bottom-style: dashed;
}

.header {
  height: 13rem;
  padding: 3.75rem 0;
}

ul.dropdown {
  list-style-type: none;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
}

li.nav-li::before {
  content: "";
}

li.nav-li {
  border-bottom: 0;
  background-color: #777777;
}

a.nav-link {
  font-size: 1.25rem;
  margin: 0 .3rem;
}

li.level-two-nav::before {
  content: "";
}

li.level-two-nav {
  background-color: #000000;
}

li.level-two-nav:hover {
  background-color: #777777;
}

.side-bar-one {
  background-color: #ff9900;
  padding: 4.75rem 3rem;
}

ul {
  list-style-type: none;
  margin-top: 40px;
  margin-left: 0;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #f2f2f2;
}

li:hover {
  background-color: #ff9900;
}

li::before {
  content: "\2022";
  color: #ff9900;
  margin-right: 8px;
}

.title-band {
  margin-top: 90px;
}

.pad-it {
  padding-left: 15px;
}

.services {
  flex-wrap: wrap;
}

.serv-but {
  flex-wrap: wrap;
  text-align: center;
}

.button-two {
  margin-top: 2.25rem;
}

.content-section-two {
  margin-top: 30px;
}

.footer {
  height: 80px;
}

@media only screen and (max-width: 1024px) {
  html {
    overflow-x: hidden;
  }
  .row {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 1152px) {
  .side-bar-one {
    padding: 1.25rem 1.5rem;
  }
}

@media only screen and (max-width: 1023px) {
  .margin-thirty {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    height: 7rem;
    padding: 0;
  }
  .offer-section {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 639px) {
  .serv-but {
    text-align: left;
  }
}
