@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:700");
body {
  background-color: #222222;
}

.row {
  max-width: 75rem;
}

.main {
  padding: 0;
  margin: 0;
}

.slate-grey {
  background-color: #222222;
}

.charcoal-grey {
  background-color: #111111;
}

.bordered-pic {
  border: 6px solid #777777;
}

.content-section-one {
  margin-top: 70px;
}

.no-margin {
  margin: 0;
}

p {
  font-family: 'Nunito', sans-serif;
  color: #f2f2f2;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
  display: flex;
}

.pic {
  background-color: blue;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.ride {
  background-color: red;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.orange {
  background-color: orange;
}

.dashed {
  border-top-style: dashed;
  border-bottom-style: dashed;
}

.header {
  height: 200px;
}

.side-bar-one {
  background-color: #ff9900;
  padding: 4.75rem 3rem;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  color: #f2f2f2;
}

.footer {
  height: 80px;
}
