// IMPORTS ==========

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
// CSS rules to use: font-family: 'Shrikhand', cursive;
@import url('https://fonts.googleapis.com/css?family=Nunito');
// CSS rules to use: font-family: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');
// CSS rules to use: font-family: 'Libre Baskerville', serif;

// VARIABLE IMPORTS
@import "variables";
@import "mixins";

// GENERAL
body {
  background-color: $slate;
}

.row {
  max-width: 75rem;
}

.main {
  padding: 0;
  margin: 0;
}

.slate-grey {
  background-color: $slate;
}

.charcoal-grey {
  background-color: $charcoal;
}

.bordered-pic {
  border: 6px solid $lgrey;
}

.content-section-one {
  margin-top: 70px;
}

.no-margin {
  margin: 0;
}

p {
  font-family: 'Nunito', sans-serif;
  color: $mist;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
  display: flex;
}

.pic {
  background-color: blue;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.ride {
  background-color: red;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.orange {
  background-color: orange;
}

.dashed {
  border-top-style: dashed;
  border-bottom-style: dashed;
}

//header
.header {
  height: 200px;
}

//banner image
.side-bar-one {
  background-color: $yellowCab;
  padding: 4.75rem 3rem;
}

@include titleTwo;

//content section 1

//title band

//content section 2

//footer
.footer {
  height: 80px;
}
