// IMPORTS ==========

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
// CSS rules to use: font-family: 'Shrikhand', cursive;
@import url('https://fonts.googleapis.com/css?family=Nunito');
// CSS rules to use: font-family: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');
// CSS rules to use: font-family: 'Libre Baskerville', serif;

// VARIABLE IMPORTS
@import "variables";
@import "mixins";

// GENERAL
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: $slate;
}

.row {
  max-width: 75rem;
}

.main {
  padding: 0;
  margin: 0;
}

.slate-grey {
  background-color: $slate;
}

.charcoal-grey {
  background-color: $charcoal;
}

#taxi {
  color: $lgrey;
}

#park {
  color: $yellowCab;
}

.bordered-pic {
  border: 6px solid $lgrey;
}

.content-section-one {
  margin-top: 120px;
}

.no-margin {
  margin: 0;
}

.button {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: flex;
}

@include titleOne;
@include titleTwo;
@include titleFour;

p, a {
  font-family: 'Nunito', sans-serif;
  color: $mist;
}

a:hover {
  color: $mist;
}

.bold {
  font-weight: bold;
}

.green {
  display: flex;
}

.pic {
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.ride {
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.dashed {
  border-color: $mist;
  border-top-style: dashed;
  border-bottom-style: dashed;
}

//header
.header {
  height: 13rem;
  padding: 3.75rem 0;
}

ul.dropdown {
  list-style-type: none;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
}

li.nav-li::before {
  content: "";
}

li.nav-li {
  border-bottom: 0;
  background-color: $lgrey;
}

a.nav-link {
  font-size: 1.25rem;
  margin: 0 .3rem;
}

li.level-two-nav::before {
  content: "";
}

li.level-two-nav {
  background-color: $void;
}

li.level-two-nav:hover {
  background-color: $lgrey;
}

//banner image
.side-bar-one {
  background-color: $yellowCab;
  padding: 4.75rem 3rem;
}

//content section 1
ul {
  list-style-type: none;
  margin-top: 40px;
  margin-left: 0;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid $mist;
}

li:hover {
  background-color: $yellowCab;
}

li::before {
  content: "\2022";
  color: $yellowCab;
  margin-right: 8px;
}

//title band
.title-band {
  margin-top: 90px;
}

.pad-it {
  padding-left: 15px;
}

.services {
  flex-wrap: wrap;
}

.serv-but {
  flex-wrap: wrap;
  text-align: center;
}

.button-two {
  margin-top: 2.25rem;
}

//content section 2
.content-section-two {
  margin-top: 30px;
}

//footer
.footer {
  height: 80px;
}

//MEDIA QUERIES ==========
@media only screen and(max-width: 1024px) {
  html {
    overflow-x: hidden;
  }

  .row {
    padding: 0 15px;
  }
}

@media only screen and(max-width: 1152px) {
  .side-bar-one {
    padding: 1.25rem 1.5rem;
  }
}

@media only screen and(max-width: 1023px) {
  .margin-thirty {
    margin-top: 30px;
  }
}

@media only screen and(max-width: 800px) {
  .title {
    height: 7rem;
    padding: 0;
  }

  .offer-section {
    margin-top: 3rem;
  }
}

@media only screen and(max-width: 639px) {
  .serv-but {
    text-align: left;
  }
}
